includes:
    - vendor/pestphp/pest/extension.neon

parameters:
    level: 10
    paths:
        - src
        - tests
    excludePaths:
        - tests/Fixtures
    reportUnmatchedIgnoredErrors: true
    ignoreErrors:
        - '#Call to an undefined method Pest\\PendingCalls\\TestCall.*::(throws|with)\(\)#'
        - '#Access to an undefined property PHPUnit\\Framework\\TestCase::\$tempDir#'
        - '#Access to an undefined property PHPUnit\\Framework\\TestCase::\$manager#'
        - '#Access to an undefined property PHPUnit\\Framework\\TestCase::\$renderer#'
        - '#Access to an undefined property PHPUnit\\Framework\\TestCase::\$registry#'
        - '#Access to an undefined property PHPUnit\\Framework\\TestCase::\$config#'