includes:
    - vendor/pestphp/pest/extension.neon

parameters:
    level: 10
    paths:
        - src
        - helpers
    scanFiles:
        - helpers/functions.php
    excludePaths:
        - config/container.php
    reportUnmatchedIgnoredErrors: false
    tmpDir: build/phpstan