# .github/workflows/release.yaml
name: Release

on:
  push:
    branches: [ main ]
  pull_request: ~
  schedule:
    # Do not make it the first of the month and/or midnight since it is a very busy time
    - cron: "* 10 6 * *"
  release:
    types: [ created ]

# See https://stackoverflow.com/a/72408109
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build-phar:
    runs-on: ubuntu-latest
    name: Build PHAR
    steps:
      -   name: Checkout
          uses: actions/checkout@v3
          with:
            fetch-depth: 0

      -   name: Setup PHP
          uses: shivammathur/setup-php@v2
          with:
            php-version: '8.4'
            ini-values: phar.readonly=0
            tools: composer box
            coverage: none

      -   name: Install Composer dependencies
          uses: ramsey/composer-install@v2

      -   name: Build PHAR
          run: composer build

      # Smoke test.
      # It is recommended ot have some sorts of tests for your PHAR.
      -   name: Ensure the PHAR works
          run: dist/seaman.phar --version

      # The following section is done only for releases
      -   name: Import GPG key
          if: github.event_name == 'release'
          uses: crazy-max/ghaction-import-gpg@v5
          with:
            gpg_private_key: ${{ secrets.GPG_KEY_AB43597EEDDC4EB00A640301FFD8593F9ADBEC61 }}
            passphrase: ${{ secrets.GPG_KEY_AB43597EEDDC4EB00A640301FFD8593F9ADBEC61_PASSPHRASE }}

      -   name: Sign the PHAR
          if: github.event_name == 'release'
          run: |
            gpg --local-user AB43597EEDDC4EB00A640301FFD8593F9ADBEC61 \
                --batch \
                --yes \
                --passphrase="${{ secrets.GPG_KEY_AB43597EEDDC4EB00A640301FFD8593F9ADBEC61_PASSPHRASE }}" \
                --detach-sign \
                --output dist/seaman.phar.asc \
                dist/seaman.phar

      -   name: Upload PHAR to the release
          uses: softprops/action-gh-release@v1
          with:
            token: ${{ secrets.GITHUB_TOKEN }}
            files: |
              seaman.phar
              seaman.phar.asc